@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&display=swap');


/* paleta de cores */
:root {
    --roxo: #3F51B5;
    --preto: #141414;
    --amarelo: rgba(247, 217, 47, 0.733);
}


/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--preto);
    font-family: 'Anek Bangla', sans-serif;
    color: white;
}

header .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
header .logo {
    color: var(--roxo);
    font-family: 'Bebas Neue';
    font-size: 50px;
    cursor: pointer;
}
header .logo:hover {
    color: var(--amarelo);
}
header .nav-header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #AAA;
    margin-right: 20px;
}
header .nav-header a:hover {
    color: var(--amarelo);
}


/* FILME PRINCIPAL */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/img/red.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title,
.name-movie {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.title{
    color:rgba(247, 217, 47, 0.5);
    font-size: 40px;
    margin-bottom: 8%;
    text-transform: uppercase;
}

.name-movie{
    font-size: 30px;
}
.descricao {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao-principal{
    background-color: rgba(247, 217, 47, 0.5);
    border: none;
    border-radius: 5px;
    color: var(--preto);

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
    transition: .3s ease all;
}
.botao-principal i {
    margin-right: 8px;
}

.container-header,
.container {
    margin-left: 20px;
}
.container {
    width: 70%;
}

.filme-principal{
    width: 100%;
    height: 600px;
}


/* CAROUSEL MOVIES */
.carousel-movies {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-movie {
    max-width: 100%;
    height: 250px;
    display: block;
}

.ui-card {
    width: 150px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
}
.ui-card,
.box-movie {
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}
.ui-card:hover 
.box-movie {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.description 
.sinopse {
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
    font-size: 12px;
}

.botao{
    background: var(--amarelo);
    color: var(--roxo);
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
}
.botao:hover {
    background: var(--roxo);
    color: var(--amarelo);
}
.ui-card:hover .botao{
    transform: translateY(0);
    opacity: 1;
}

.ui-card:hover 
.description 
.sinopse {
    transform: translateY(0);
    opacity: 1;
}