@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&display=swap');


/* paleta de cores */
:root {
    --roxo: #3F51B5;
    --preto: #141414;
    --amarelo: #FFC10A;
}

/* a base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Anek Bangla', sans-serif;
    color: white;
}

header .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

header .logo {
    color: var(--roxo);
    font-family: 'Bebas Neue';
    font-size: 50px;
    cursor: pointer;
}

header .logo:hover {
    color: var(--amarelo);
}

header .nav-header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #AAA;
    margin-right: 20px;
}

header .nav-header a:hover {
    color: var(--amarelo);
}

/* filme principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/img/red.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descricao {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 15px;

    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}
.botao i {
    margin-right: 8px;
}

.container-header,
.container {
    margin-left: 20px;
}
.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 330px;
    width: 100%;
    display: block;
}

.filme-principal {
    height: 600px;
}

/* CAROUSEL MOVIES */
.carousel-movies{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.box-movie{
    max-width: 100%;
    display: block;
}

.ui-card{
    width: 200px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
}
.ui-card .box-movie{
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}
.ui-card:hover .box-movie{
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.description{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.description h3{
    font-weight: 700;
    font-size:32px;
    margin: 0 0 20px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.description p{
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
}
.description a{
    color:var(--roxo);
    background: var(--amarelo);
    display: inline-block;
    padding: 10px;
    margin-top: 6px;
    text-decoration: none;
    border-radius: 5px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.4s;
}
.description a:hover{
    background: #926f04;
}

.ui-card:hover .description h3{
    transform: translateY(0);
    opacity: 1;
}
.ui-card:hover .description p{
    transform: translateY(0);
    opacity: 1;
}
.ui-card:hover .description a{
    transform: translateY(0);
    opacity: 1;
}




/* .carousel-filmes-1 {
    margin-top: 5px;
}
.carousel-filmes-2 {
    margin-top: 20px;
} */