@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}

@media screen and (max-width:700px) {
    header .logo{
        font-size: 55px;
    }

    header .container,
    .container-header {
        display: flex;
        flex-direction: column;
    }
    .a-header{
        font-size: 20px;
    }
    
    header .container-header {
        margin: 0;
        height: 110px;
    }

    .botao {
        margin-top: 6px;
        width: 300px;
    }

    .filme-principal {
        height: 800px;
    }
    .descricao{
        font-size: 25px;
    }
}

@media screen and (max-width:500px) {
    .box-filme{
        height: fit-content;
    }

    nav.nav-header {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        margin-left: 10px;
    }
}