@media screen and (min-width:1000px) {
    .description {
        width: 50%;
    }
}

@media screen and (max-width:700px) {
    header .logo{
        font-size: 55px;
    }
    header .container,
    .container-header {
        display: flex;
        flex-direction: column;
    }
    .a-header{
        font-size: 20px;
    }
    
    header .container-header {
        margin: 0;
        height: 110px;
    }

    .botao-principal {
        margin-top: 6px;
        width: 250px;
    }

    .filme-principal {
        height: 800px;
    }
    .description{
        font-size: 25px;
    }


/* continuar aqui ------------------------------------- */
    .carousel-movies{   
        margin: 5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .box-movie{
        /* height: fit-content; */
        /* margin: 20px; */
    }
    .ui-card{
        max-width: 200px;
        
    }

}

@media screen and (max-width:500px) {

    nav.nav-header {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        margin-left: 10px;
    }
}