@media screen and (max-width:700px) {

    header .container,
    .container-header {
        display: flex;
        flex-direction: column;
    }


    .container-header {
        margin: 0;
        height: 90px;
    }

    .botao {
        margin-top: 6px;
        width: 300px;
    }

    .filme-principal {
        height: 500px;
    }
}

@media screen and (max-width:430px) {
    nav.nav-header {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        margin-left: 10px;
    }

}

@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}